/*GENERAL Afecta a todos los elementos
quita los margenes*/
*{
    margin: 0px;
    padding: 0px;
}

/*con esta sentencia tomar el 
tamaño del contenedor*/
html, body, .cover{
    height: 100%;
}
/*color del fondo*/
.cover{
    background-color: #020000;
    height: 300px;
}
/*Seccion de nav*/
nav{
    margin: 0 3.5res;
    padding-top: 25px;
    padding-left: 25px;
    height: 200px;
}
/*Seccion de CABECERA*/
section.superior{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}
.titulo{
    color: #fff;
    font-size: 50px;
    font-family: tahoma;
    margin-top: 30px;
    margin-left: 20px;
    text-shadow: 0 0 10px red, 0 0 10px red;
}
.logoI{
    width: 100px;
    height: 100px;
    border: solid 1px reds;
    
}

/*CONTENEDOR*/
.izquierda{
    float: left;
    position: relative;
    height: 100%;
    width: 20%;
    text-align: center;
    background-attachment: fixed;
}
.iz{
    height: 100%;
    width: 200px;
}
.derecha{
    float: left;
    position: relative;
    height: 100%;
    width: 20%;
    text-align: center;
}
.de{
    height: 100%;
    width: 200px;
    background-attachment: fixed;
}
/*Seccion de MEDIO*/
section.cuerpo{
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: solid 1px red;
}
.medio1{
    float: left;
    margin-top: 20px;
    border: solid 1px rgb(182, 15, 224);
    width: 58%;
    height: 250px;
    padding: 10px 10px 10px 10px;
    background-color:aquamarine;
}
/*edicion del texto*/
.contenido1{
    float: left;
    width: 50%;
    padding: 5px 5px 5px 5px;
    border: solid 1px #020000;
}
.contenido2{
    float: left;
    width: 50%;
    height: 150px;
    color: red;
    padding: 20px 20px 20px 20px;
    display: flex;
    border: solid 1px #020000;
}
/*PRESENTACION*/
.yo{
    float: right;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 15px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0);
    border-radius: 75px 75px 75px 75px;
    margin-right: 50px;
}
.foto{
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 75px 75px 75px 75px;
}


/*Seccion de INFERIOR*/
section.inferior{
    background: ;
    height: 20%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: solid 1px red;
    
}