/*GENERAL Afecta a todos los elementos
quita los margenes*/
*{
    margin: 0px;
    padding: 0px;
    color: white;
}

/*con esta sentencia tomar el 
tamaño del contenedor*/
html, body, .cover{
    height: 100%;
    font-family: times;
}
/*color del fondo*/
.cover{
    background-image: url("../Imagenes/escudo.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px rgb(0, 255, 47);
}
/*Seccion de nav*/
nav{
    margin: 0 3.5res;
    padding-top: 25px;
    padding-left: 25px;
    height: 200px;
}
/*Seccion de CABECERA*/
section.superior{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/*Edicion de la imagen*/
div.logo{
    float: left;
}
.logoT{
    width:300px;
    height: 150px;

}
h3{
    font-size: 1.4rem;
}
/*CONTENEDOR*/
.titulo{
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-right: 50px;
    float: right;
    background: #aa061c;
    border-radius: 5px 5px 5px 5px;
}
/*texto*/
h1{
    color: rgb(71, 218, 71);
    font-size: 4rem;
    margin-bottom: 5px;
    text-shadow: 0 0 15px yellow, 0 0 20px red;
}
h2{
    font-size: 1.625rem;
    margin-bottom: 10px;
    text-shadow: 0 0 15px darkorange, 0 0 15px yellow;
}
p{
    font-size: 2rem;
    text-shadow: 0 0 15px darkorange, 0 0 15px red;
}
.presen{
    padding-top: 8%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
}
.presen input{
    width: 280px;
    height: 40px;
}
.presen span{
    background-color: #aa061c;
    padding: 15px;
}
/*Seccion de CUERPO*/
section.cuerpo{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

/*Seccion de INFERIOR*/
section.inferior{
    background: ;
    height: 20%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: solid 1px red;
    
}