*{
    text-align: center;
    
}
table{
    width: 100%;
}
caption{
    color: blue;
    margin: 10px;
    font-size: 30px;
    font-family: 'Trochi',serif;
}

th{
    border: 2px solid white;
    padding: 20px;
    background-color: black;
    color: white;
    border-collapse: collapse;
}
td{
    border: 2px solid;
    padding: 15px;
}
th:hover{
    color: aqua;
    font-size: 20px;
}
td:hover{
    background-color: black;
    color: white;
    font-size: 20px;
}
/*REGLONES PANES (even) IMPARES (odd)*/
tr:nth-child(even){
    background-color: rgb(134, 200, 146);
}
tr:nth-child(odd){
    background-color: blueviolet;
}