* {
  margin: 0;
  padding: 0;
  width: 100%;
}
/**CABECERA**/
.Padre-Cabecera {
  background-color: azure;
  width: 100%;
  height: 200px;
  border: 1px solid red;
  display: flex;
  
}
.Hijo-logo{
  border: 1px solid blue;
  
  
}
.Text-Titulo-Navegador{
  text-align: center;
}


/**CUERPO**/
.Cuerpo {
  background-color: beige;
  width: 100%;
  height: 500px;
  border: 1px solid red;
}
/**PIE DE PAGINA**/
.Pie {
  background-color: black;
  width: 100%;
  height: 300px;
  border: 2px solid red;
}
