* {
  margin: 0;
  padding: 0;
  width: 100%;
}
/**CABECERA**/
.Padre-Cabecera {
  background-color: azure;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.Hijo-logo{
  background-color: aqua;
  width: 300px;
  text-align: center;
  .Hijo-logo, img{
    width: ;
    padding: 5px 5px 5px 5px;
  }
  
}
.uno{
 background-color: blueviolet;
 font-size: 50px;
 font-size: auto;
}
.Navegador{
background-color: brown;
font-size: 30px;
font-size: auto;
align-items: flex-end;
  .dos, a{
    text-decoration: none;
    flex-wrap: wrap;
    padding: 20px;
  }
}


/**CUERPO**/
.Cuerpo {
  background-color: rgb(53, 218, 230);
  width: 100%;
  height: 500px;
}
/**PIE DE PAGINA**/
.Pie {
  background-color: rgb(61, 61, 61);
  width: 100%;
  height: 300px;
}
