* {
  margin: 0;
  padding: 0;
  width: 100%;
}
.Cabecera {
  background-color: azure;
  width: 100%;
  height: 200px;
  text-align:justify;
  border: 1px solid red;
  .Cabecera, img{
    width: 100px;
    height: 90px;
  }
}

.Cuerpo {
  background-color: beige;
  width: 100%;
  height: 500px;
  border: 1px solid red;
}
.Pie {
  background-color: black;
  width: 100%;
  height: 300px;
  border: 2px solid red;
}
